html {
  background-color: $primary;
  position: relative;
  font-family: "Gilroy" !important;

  a,
  h1,
  h3,
  h4,
  h5,
  h6,
  p,
  dd,
  dt,
  dl {
    font-family: "Gilroy" !important;
  }

  .App {
    text-align: center;
    padding: 12%;
    padding-top: 9%;
    padding-bottom: 0;
    margin: 5px;
    display: flex;

    main {
      width: 60%;
      height: 70vh;
      position: relative;
      margin-left: 30px;

      header.my-job {
        background-color: $secondary;
        border: 2px solid white;
        position: relative;
        margin-top: -40px;

        &.my-job h2 {
          font-family: "Staatliches", cursive;
          color: $primary;
          display: inline;
          font-style: italic;
          font-size: 3em;
          word-spacing: 0.3em;
        }
      }

      dl {
        position: fixed;
        right: 0;
        top: 35%;

        dt {
          margin-bottom: -45px;
        }

        dd {
          margin-left: 0;
          text-align: center;
          font-style: 0.9em;
          font-weight: bold;

          &:last-child {
            font-weight: 400;
            font-style: italic;
            margin-top: 15px;
          }
        }
      }
    }
    .App-logo {
      height: 25vh;
    }

    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background: url("../assets/bg.webp");
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      left: 0;
      opacity: 0.02;
      z-index: -1;
    }
  }
}
